SECRET_KEY=ee@o&!$wwtg=0$@61-^92-hyudpgss8*edey3iqnppau^*56+^
DEBUG=False
DATABASE_URL=postgresql://moodshelf_db_user:uDQQEhZdOqE74dEAtSwgmQKN1du9i3H1@dpg-d5nq0s94tr6s73dctkq0-a/moodshelf_db
EMAIL_HOST_USER=madhurabijawe@gmail.com
EMAIL_HOST_PASSWORD=qtbn kuxg vyum suvf
