<footer class="glass-footer mt-auto text-white text-center text-lg-start">
  <div class="container p-4">
    <div class="row">
      <div class="col-md-4 mb-4">
        <h5>ABOUT MOODSHELF</h5>
        <p>MoodShelf recommends books based on your mood using emojis. Created by Ramakrushna for Madhura 💖.</p>
        <div class="social-icons mt-3">
          <a href="#" class="social-icon"><i class="fab fa-twitter"></i></a>
          <a href="#" class="social-icon"><i class="fab fa-instagram"></i></a>
          <a href="#" class="social-icon"><i class="fab fa-linkedin"></i></a>
        </div>
      </div>
      <div class="col-md-4 mb-4">
        <h5>CONTACT INFO</h5>
        <p><i class="fas fa-home"></i> Pune, Maharashtra</p>
        <p><i class="fas fa-envelope"></i> itsramakrushna@gmail.com</p>
        <p><i class="fas fa-phone"></i> +91 9876543210</p>
      </div>
      <div class="col-md-4 mb-4 text-center">
        <h5>CREATORS</h5>
        <img src="{% static 'img/madhura.png' %}" alt="Madhura" width="60" class="rounded-circle m-2">
        <img src="{% static 'img/ramakrushna.png' %}" alt="Ram" width="60" class="rounded-circle m-2">
      </div>
    </div>
  </div>
  <div class="text-center p-3" style="background-color: rgba(255,255,255,0.05);">
    © 2025 MoodShelf | Designed by Ram for Madhura
  </div>
</footer>
